//
//  Secrets.xcconfig
//  Weater App
//
//  Created by Eder Junior Alves Silva on 15/08/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// Secrets.xcconfig
OpenWeatherApiKey = 8f8b00810a0f32122a8217877d806d95
